@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body{
    background-color: black;
}

/* global.css ya da component css */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE ve Edge */
    scrollbar-width: none;  /* Firefox */
  }
  